@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <h3>Most popular library for Classical Music lovers</h3>
    <img src="https://www.themicmagazine.co.uk/wp-content/uploads/2024/01/the-mic-news-and-lifestyle-43.jpg" />
</div>

<style>
    .text-center img{
        margin-top: 1em;
    }
</style>
